.page {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (min-width: 490px) {
  .page {
    width: 68%;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    width: 880px;
  }
}
