.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 17px;
  box-sizing: border-box;
}
