.footer__annotation {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #545454;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 850px) {
  .footer__annotation {
    font-size: 18px;
  }
}
