.profile__name {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 230px;
}

@media screen and (min-width: 560px) {
  .profile__name {
    max-width: calc(25vw + 130px);
  }
}

@media screen and (min-width: 850px) {
  .profile__name {
    text-align: left;
    max-width: calc(77vw - 167px - 300px);
  }
}

@media screen and (min-width: 1000px) {
  .profile__name {
    font-size: 42px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .profile__name {
    max-width: 530px;
  }
}
