.edit-overlay__close-button {
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity .3s ease-out 0s;
}

@media screen and (min-width: 620px) {
  .edit-overlay__close-button {
    width: 32px;
    top: -40px;
    right: -40px;
  }
}

.edit-overlay__close-button:hover {
  cursor: pointer;
  opacity: .6;
}
